.home  .home-header{
  background-image: url('../../images/landing-background.png');
}

.home-header .container{
  margin-top: 10%;
}

.home-header .vertical-bar{
  margin: 0 5%;
  padding: 0;
}

.home .navigation{
  background: #4D4D54;
  color: #ffffff;
  text-align: center;
  padding: 1% 0;
}

.home .navigation a{
  color: #ffffff;
  margin: 0 1%;
}

.home .navigation a:hover{
  color: #ddd;
  text-decoration: none;
}

.home .home-item{
  margin: 0 auto;
  width: 300px;
  max-width: 100%;
}

.home-footer .footer-img{
  text-align: right;
}

.home-footer .footer-img img{
  width: 70%;
  padding: 5% 15% 5% 0;
}

.home-footer .footer-content{
  padding: 5% 10% 5% 0;
}

.home-footer .footer-content h3{
  text-align: left;
}
