html {
    height: 100%;
}
body {
    font-family: 'Roboto', "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background: #FFF;
    position: relative;
    min-height: 100%;
}
body.modal-open {
    height: 100%;
}
body.modal-open .main-content {
    height: 100%;
}
.main-header {
    padding-top: 10px;
    color:#929292;
}

.main-header .logo {
    height: 60px;
    display: inline-block;
    margin-bottom: 5px;
}
.main-header .main-title{
    font-size: 30px;
    color: #6E6F76;
    letter-spacing: 2px;
    display: inline-block;
}

.main-content {
    padding: 0;
    /*background-image: url('../../images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content .common-header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10% 0;
    color: #ffffff;
}

.main-content .common-header h2{
    font-size: 50px;
}

.main-content .common-header p{
    margin: 0 auto;
    width: 800px;
    max-width: 99%;
    /*padding: 2% 8%;*/
    font-weight: 700;
    font-size: 35px;
}

.main-content .common-body{
    text-align: center;
    padding: 3% 0;
    overflow: hidden;
    color: #454345;
}

/*.main-content .common-body h2{*/
    /*font-size: 30px;*/
    /*padding: 0 5px;*/
    /*position: relative;*/
    /*display: inline-block;*/
/*}*/
/*.main-content .common-body h2.line-side::before,*/
/*.main-content .common-body h2.line-side::after {*/
    /*background: #6E6F76;*/
    /*content: "";*/
    /*display: block;*/
    /*height: 2px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*width: 400%;*/
/*}*/
/*.main-content .common-body h2.line-side::before {*/
    /*right: 100%;*/
/*}*/
/*.main-content .common-body h2.line-side::after {*/
    /*left: 100%;*/
/*}*/

/*.main-content .common-body p{*/
    /*font-size: 17px;*/
    /*color: #929292;*/
/*}*/

.main-content .common-item{
    margin-top: 5%;
}

.main-content .common-item .common-form{
    width: 650px;
    max-width: 95%;
    margin: 0 auto;
    background-color: #BDBDBD;
    border-radius: 5px;
    padding: 1% 1% 2% 1%;
}

.main-content .common-item .common-form .form-group{
    padding: 0 1% 1% 1%;
}

.main-content .common-item .common-form .form-control{
    width: 100%;
}

.main-content .common-item .common-form .common-form-content{
    margin: 3% 0;
}

.main-content .common-footer{
    background: #DCDADE;
    margin-top: 1%;
}

.form-inline .form-control{
    height: 45px;
    font-size: 20px;
}

.main-footer .contract{
    color: #ffffff;
    padding: 7% 0;
    background-image: url('../../images/landing-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-footer .contract h2{
    font-size: 30px;
    text-align: left;
}

.main-footer .contract p{
    font-size: 17px;
    color: #BFBFBF;
}

.main-footer .contract .newsletter{
    width: 350px;
    max-width: 100%;
}

.main-footer .copyright {
    background-color: #8DC551;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}

h1,
h2,
h3 {
    text-align: center;
    font-weight: 700;
}
h1,
h2 {
    text-transform: uppercase;
}
h2,
h3 {
    font-family: 'Arimo', "Helvetica", sans-serif;
}
h2 {
    font-size: 1.3em;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    margin: 0.5em 0;
}
h3 {
    font-size: 1.2em;
}

.btn-common{
    background: #F36524;
    color: #ffffff;
    padding: 10px 50px;
}

.btn:hover{
    color: #F5F5F5;
}

@media screen and (max-width: 992px) {
    .main-content .common-footer .footer-content{
        padding: 5% 10% 5% 10%;
    }
}

@media screen and (max-width: 768px) {
    .main-content .common-header h2{
        font-size: 35px;
    }
    .main-content .common-header p{
        font-size: 20px;
    }
    .main-header .main-title{
        font-size: 20px;
    }
    .main-content .common-body h2 {
        font-size: 20px;
    }
    .main-footer .contract h2 {
        font-size: 20px;
    }
}