.team  .team-header{
    background-image: url('../../images/landing-background.png');
}

.team-header .container{
    margin-top: 10%;
}

.team-header .vertical-bar{
    margin: 0 5%;
    padding: 0;
}

.team .navigation{
    background: #4D4D54;
    color: #ffffff;
    text-align: center;
    padding: 1% 0;
}

.team .navigation a{
    color: #ffffff;
    margin: 0 1%;
}

.team .navigation a:hover{
    color: #ddd;
    text-decoration: none;
}

.team .team-item{
    margin: 0 auto;
    max-width: 100%;
}

.team .team-list .team-member{
    margin-top: 2%;
}

.team .team-list .team-member img{
    max-width: 100%;
    height: auto;
}

.team .team-member .team-member-introduce{
    position: absolute;
    top: 75%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0 .5em;
    width: 100%;
    color: #444444;
    background: rgba(255, 255, 255, 0.5);;
}

.team .team-member .team-member-introduce h3{
    margin: 2%;
}

.team .team-member .team-member-introduce h4{
    margin: 1%;
}

.team-footer .footer-img-up{
    text-align: right;
}

.team-footer .footer-img-up img{
    width: 70%;
    padding: 5% 15% 5% 0;
}

.team-footer .footer-content-up{
    padding: 5% 10% 5% 0;
}

.team-footer .footer-content-up h3{
    text-align: left;
}

.team-footer .footer-img-down{
    text-align: left;
}

.team-footer .footer-img-down img{
    width: 70%;
    padding: 5% 0 5% 15%;
}

.team-footer .footer-content-down{
    padding: 5% 0 5% 10%;
}

.team-footer .footer-content-down h3{
    text-align: left;
}
